# Ignore VS Code settings
.vscode/

# Ignore /data directory
/data/

# Ignore __pycache__ directories
/__pycache__/

# Ignore .log files
*.log

#Ignore temp files
*.tmp

Ignore model files
/model.pth  